build/
dist/
torchshifts.egg-info/
*/**/__pycache__
*/__pycache__
*/*.pyc
**/*.ipynb_checkpoints/
*.txt
*/**/*.pyc
*/**/**/*.pyc
*/**/*~
*~
docs/build
.coverage
htmlcov
.*.swp
*.so*
*.dylib*
*/*.so*
*/*.dylib*
*.swp
*.swo
gen.yml
.mypy_cache
.vscode/
*.orig
*-checkpoint.ipynb
torchshifts/version.py
